
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
header{
    text-align:center;
    margin-bottom:30px;
}
.add-section{
    margin-bottom: 20px;
    background-color: rgb(35, 183, 183);
    color:azure;
    padding: 10px;
    border-radius: 5px;
}
input{
    padding:8px;
    margin-right:10px;
}
button{
    padding:8px 12px;
    cursor:pointer;
}
.list-section{
    background:white;
    padding:15px;
    border-radius:8px;
}
.study-item{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    padding:8px;
    background:#e9ecef;
    border-radius:5px;
}